.heading-title {
  display: flex;
  align-items: center;
}

.block .slot {
  width: 12rem;
  height: 4rem;
  display: grid;
  background: linear-gradient(145deg, #52b963ff 0%, #ffffff00 70%);
  border-left: 1px solid #d9d9e1;
  border-top-left-radius: calc(0.5rem + 1px);
  border-bottom-left-radius: calc(0.5rem + 1px);
}

.block div:focus-within {
  outline: none;
  background-color: #ff7f00;
  border-color: #ff7f00;
}

.block textarea:focus {
  outline: none;
}

.block:focus {
  outline: none;
}

.block span {
  /* margin-left: 0.5rem; */
  font-size: 0.85rem;
  font-weight: 600;
}
