.canvas {
  display: flex;
  flex-direction: column;
  max-width: 46rem;
  height: fit-content;
  max-height: calc(100vh - 9rem);
  overflow-y: auto;
  padding: 0.25rem;
  gap: 0.5rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0px 2px 4px 0px #b1b1b1;
}

.canvas-full {
  position: absolute;
  top: 1rem;
  left: 3rem;
  max-height: calc(100vh - 2rem);
  min-width: calc(100vw - 6rem);
  justify-content: center;
  z-index: 999;
}