.button-color-format {
    display: flex;
    align-items: center;
    padding: 0.25rem 0.5rem;
    color: #464646;
    background-color: transparent;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.button-color-format span {
    font-size: 1.2rem;
}

.button-color-format:hover {
    background-color: #ededed;
}

.dropdown-icon {
    padding-left: 0.25rem;
    padding-right: 0.75rem;
}