.editor {
    max-width: 1280px;
    margin: 1rem auto;
    display: grid;
    gap: 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-buttons-wrapper {
    display: flex;
    height: 100%;
    gap: 4px;
}

.editor-contents {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}