.editor {
    max-width: 1296px;
    margin: 1rem auto;
    display: grid;
    gap: 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
}

.back-and-title-wrapper {
    display: flex;
    gap: 1rem;
}

.back-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #121212;
    text-decoration: none;
    border: 1px solid #b1b1b1;
    border-radius: 999px;
    aspect-ratio: 1 / 1;
    transition: all 0.3s;
    cursor: pointer;
}

.back-button span {
    font-size: 1.2rem;
}

.back-button:hover {
    background-color: #d1d1d1;
}

.header-buttons-wrapper {
    display: flex;
    height: 100%;
    gap: 4px;
}

.editor-contents {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.hint-for-empty {
    position: fixed;
    right: 50%;
    transform: translate(50%, 50%);
    color: #4e4e4e;
}