.preview {
  max-width: 46rem;
  height: fit-content;
  max-height: calc(100vh - 10rem);
  overflow-y: auto;
  padding: 0.25rem;
  gap: 0.5rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0px 2px 4px 0px #b1b1b1;
}

.preview::-webkit-scrollbar {
  display: none;
}

.preview > *:not(ul):not(li) {
  padding: 0 1rem;
  border: 1px dashed transparent;
  cursor: pointer;
  transition: all 0.3s;
}

.preview > *:hover {
  background-color: #f0f8ff;
  border: 1px dashed #263238;
  border-radius: calc(0.125rem + 1px);
}

.preview > :first-child {
  border-radius: 0.75rem 0.75rem 0.125rem 0.125rem;
}

.preview > :last-child {
  border-radius: 0.125rem 0.125rem 0.75rem 0.75rem;
}

.preview ul,
.preview li {
  border: 1px dashed transparent;
  border-radius: 0.125rem;
  cursor: pointer;
  transition: all 0.3s;
}

.preview > :last-child li:last-of-type {
  border-radius: 0.125rem 0.125rem 0.75rem 0.125rem;
}

.preview li:hover {
  background-color: #dcedff;
}

.preview li:hover > ul,
.preview li:hover li {
  background-color: transparent;
}