.toolbar {
  display: flex;
  position: sticky;
  top: 1rem;
  justify-content: space-between;
  max-width: 100%;
  gap: 0.25rem;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: 0px 2px 4px 0px #b1b1b1;
}

.toolbar-buttons-wrapper {
  display: flex;
}

.hr {
  margin: 0.25rem 0.5rem;
  border: none;
  border-right: 1px solid #d1d1d1;
}
