.button {
    display: flex;
    align-items: center;
    width: auto;
    aspect-ratio: 1 / 1;
    background-color: #f7f8f9;
    border: none;
    border-radius: 1rem;
    margin: 0.25rem;
    pointer-events: all;
}