.list-wrapper {
    padding-left: 0.5rem;
    color: initial !important;
    background-color: #fff;
    border-radius: 0 !important;
}

.list-wrapper:focus-within,
.buttons-wrapper:focus-within {
    background-color: #fff !important;
    border: none !important;
}

.textarea-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    border-radius: 0 !important;
}

.textarea-wrapper-first-level,
.textarea-wrapper-second-level {
    display: flex;
    position: relative;
    align-items: center;
    gap: 0.25rem;
}

.textarea-wrapper-second-level {
    margin-left: 2rem;
    border-radius: 0 !important;
}

.textarea-wrapper-first-level:focus-within,
.textarea-wrapper-second-level:focus-within {
    color: initial !important;
    background-color: #fff !important;
}

.textarea-wrapper-first-level textarea,
.textarea-wrapper-second-level textarea {
    border: 1px solid transparent;
    border-radius: 0 !important;
}

.textarea-wrapper-first-level textarea:hover,
.textarea-wrapper-second-level textarea:hover {
    border-bottom: 1px solid #e8e8e8;
}

.textarea-wrapper-first-level textarea {
    border-radius: 0 !important;
}

.buttons-wrapper {
    display: flex;
    position: absolute;
    height: auto;
    right: 0.5rem;
    /* gap: 0.5rem; */
    border-radius: 0 !important;
    border: none !important;
    pointer-events: none;
}

.buttons-wrapper:hover {
    background-color: transparent !important;
}

.buttons-wrapper:active {
    background-color: #fff !important;
    border: none !important;
}

.textarea-wrapper-first-level button,
.textarea-wrapper-second-level button {
    display: flex;
    width: auto;
    aspect-ratio: 1 / 1;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    border-radius: 1rem;
    transition: all 0.1s ease-in-out;
}

.textarea-wrapper-first-level button:hover,
.textarea-wrapper-second-level button:hover {
    background-color: #d9d9d9;
}