.list-wrapper {
    background-color: #fff;
    padding-left: 0.5rem;
}

.textarea-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.list-wrapper:hover textarea {
    border-color: #e8e8e8;
}

.textarea-wrapper-first-level,
.textarea-wrapper-second-level {
    display: flex;
    position: relative;
    align-items: center;
}

.textarea-wrapper-second-level {
    margin-left: 1.6rem;
}

.textarea-wrapper-first-level textarea,
.textarea-wrapper-second-level textarea {
    border: 1px solid transparent;
    border-radius: 0 !important;
}

.textarea-wrapper-first-level textarea:hover,
.textarea-wrapper-second-level textarea:hover {
    background-color: #f4f4f4;
    border-color: #e8e8e8;
}

.textarea-wrapper-first-level textarea {
    border-radius: 0 !important;
}

.buttons-wrapper {
    display: flex;
    position: absolute;
    right: 0.5rem;
    gap: 0.5rem;
}

.textarea-wrapper-first-level button,
.textarea-wrapper-second-level button {
    display: flex;
    width: 1.6rem;
    aspect-ratio: 1 / 1;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    border-radius: 1rem;
    transition: all 0.1s ease-in-out;
}

.textarea-wrapper-first-level button:hover,
.textarea-wrapper-second-level button:hover {
    background-color: #d9d9d9;
}