* {
  box-sizing: border-box;
  margin: 0;
  font-family: var(--font-open-sans);
  line-height: 1.5;
}

textarea {
  font-family: var(--font-work-sans);
  line-height: initial;
}

img, iframe {
  width: 100%;
}

body {
  background-color: #f1f1f1;
}

v-btn {
  padding: 0.1rem 0.3rem;
  background-color: #e9e9e9;
  border-radius: 0.25rem;
  font-size: 0.85rem;
  font-weight: 600;
}

v-code {
  padding: 0.15rem 0.3rem;
  background-color: #f2f2f2;
  border: 1px solid #e6e6e6;
  border-radius: 0.25rem;
  color: #e81e63;
  font-family: var(--font-roboto-mono);
  font-size: 0.75rem;
}

v-path {
  padding: 0.15rem 0.3rem;
  border-bottom: 1px solid blue;
  font-weight: 600;
  font-size: 0.85rem;
  font-style: italic;
}

ul {
  margin-left: inherit;
}

.info {
  margin: 1rem;
  padding: 0.5rem 1rem !important;
  background-color: #d0efff;
  border: 1px solid #3db1e1 !important;
  border-radius: 0.25rem !important;
}

.info:hover {
  border: 1px dashed #263238 !important;
}

.warning {
  margin: 1rem;
  padding: 0.5rem 1rem !important;
  background-color: #faf1bd;
  border: 1px solid #ffb900 !important;
  border-radius: 0.25rem !important;
}

.warning:hover {
  border: 1px dashed #263238 !important;
}

.release_alert {
  margin: 1rem;
  padding: 0.5rem 1rem !important;
  background-color: #ffe4e1;
  border: 1px solid #ee4c83 !important;
  border-radius: 0.25rem !important;
}

.release_alert:hover {
  border: 1px dashed #263238 !important;
}