.button {
    width: 1.5rem;
    aspect-ratio: 1 / 1;
    border: none;
    border-radius: 0.75rem;
    cursor: pointer;
}

.element-wrapper {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.copy-button {
    display: flex;
    width: 100%;
    padding: 0.25rem 0.5rem;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.2s;
}

.copy-button:hover {
    background-color: #e8e8e8;
}

.copy-button:first-of-type {
    border-radius: 0.75rem 0.75rem 0.25rem 0.25rem;
}

.copy-button:last-of-type {
    border-radius: 0.25rem 0.25rem 0.75rem 0.75rem;
}

.tag-icon {
    font-size: 1rem !important;
}

.copy-icon {
    font-size: 0.85rem !important;
    color:#777777;
}